<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="coffee" class="geektime.spring.springbucks.waiter.model.Coffee">
        <property name="name" value="joe"/>
        <property name="quantity" value="10"/>
    </bean>

    <bean id="coffeeService" class="geektime.spring.springbucks.waiter.service.CoffeeService">
        <property name="coffee" ref="coffee"/>
    </bean>


</beans>